<!DOCTYPE html>
<html lang="ko">
<head>
 <meta  http-equiv="Content-Type"  content="text/html;charset=utf-8"/> 
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Sample01 - dashboard</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../fontawesome-free-5.13.0-web/css/all.css">
  <link rel="stylesheet" type="text/css" href="../css/style.css" />

  <script type="text/javascript" src="../js/jquery.min.js"></script>
  <script type="text/javascript" src="../js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/com_ui.js"></script>
</head>

<body>

<div class="wrap">
	<div class="Dash_body">

		<header>
			<div class="header_in">
				<div class="header_left">
					<h1 class="logo biglogo">
						<a href="../dash/dashboard.html"><img src="../images/logo_top.png" /></a>
					</h1>
					<p class="btn_trans"></p>
				</div><!-- header_left -->

				<div class="header_right">
					<div class="right_div btbox">
						<a class="go_right btn_togg">
							<i class="fas fa-user-circle"></i>
							<span class="user">
								홍길동님 환영합니다.
							</span>
						</a>
					</div><!-- right_div -->
					<div class="right_div">
						<button type="button" class="btn btn-mint3" onclick="location.href='../index.html'">로그아웃</button>
					</div>
				</div><!-- header_right -->
			</div><!-- header_in -->
		</header>

		<aside class="dash_aside">
			<div class="side_conts">
				<h2 class="left_name">MENU</h2>
				<ul class="left_menu">
					<li>
						<a class="selb_link" href="../dash/dashboard.html">
							<img class="dash" src="../images/sv_dash.svg" />
							<span class="menu_name">대시보드</span>
						</a>
					</li>
					<li>
						<a class="selb_link" href="../dash/dashboard_1.html">
							<img class="dash" src="../images/sv_dash.svg" />
							<span class="menu_name">대시보드_1</span>
						</a>
					</li>
					<li>
						<a class="selb_link" href="../dash/dashboard_2.html">
							<img class="dash" src="../images/sv_dash.svg" />
							<span class="menu_name">대시보드_2</span>
						</a>
					</li>
					<li>
						<a class="selb_link" href="../control/real_control.html">
							<img src="../images/sv_time.svg" />
							<span class="menu_name">실시간 관제</span>
						</a>
					</li>
					<li>
						<a class="selb_link" href="../drive/drive_history.html">
							<img src="../images/sv_car.svg" />
							<span class="menu_name">운행이력</span>
						</a>
					</li>
					<li>
						<a class="selb_link">
							<img src="../images/sv_manage.svg" />
							<span class="menu_name">관리메뉴</span>
							<i class="fas fa-chevron-right"></i>
						</a>
						<div class="add_menu">
							<a href="../manage/people.html">인사관리</a>
							<a href="../manage/cars.html">차량관리</a>
						</div>
					</li>
					<li>
						<a class="selb_link">
							<i class="fas fa-th-large link_fas"></i>
							<span class="menu_name">레이아웃</span>
							<i class="fas fa-chevron-right"></i>
						</a>
						<div class="add_menu">
							<a href="../layout/grid.html">Grid</a>
							<a href="../layout/flex.html">Flex</a>
							<a href="../layout/display.html">Display</a>
							<a href="../layout/cont_width.html">Cont width</a>
						</div>
                    </li>
                    <li>
						<a class="selb_link">
							<i class="fas fa-layer-group link_fas"></i>
							<span class="menu_name">컴퍼넌트</span>
							<i class="fas fa-chevron-right"></i>
						</a>
						<div class="add_menu">
							<a href="../components/color.html">Color</a>
							<a href="../components/button.html">Button</a>
                            <a href="../components/modal.html">Modal</a>
							<a href="../components/dropdown.html">Dropdown</a>
							<a href="../components/table.html">Table</a>
							<a href="../components/tooltip.html">Tooltip</a>
						</div>
                    </li>
                    <li>
						<a class="selb_link">
							<i class="fas fa-edit link_fas"></i>
							<span class="menu_name">Form</span>
							<i class="fas fa-chevron-right"></i>
						</a>
						<div class="add_menu">
                            <a href="../form/form1.html">form1</a>
                            <a href="../form/form2.html">form2</a>
						</div>
                    </li>
				</ul><!-- left_menu -->
			</div><!-- side_conts -->
		</aside><!-- dash_aside -->

		<section class="top_line">
			<div class="jfbet">
				<h2 class="top_title control_title">
					Tooltip
				</h2>
			</div>
		</section><!-- top_line -->

		<section class="cont_bg">

			<div class="row">
				<div class="col-xl-6">
					<dl class="dsconts">
						<dt>
							<article class="jfbet">
								<h3>
									<span class="hormark"></span>
									<span class="htitle">예시1</span>
								</h3>
							</article>
						</dt>
						<dd>
                            <section class="respon_w70 big_respon2">
                                <article class="border text-center p-4 m-t-20 m-b-30">
                                    <p class="txtip">
                                    	툴팁 예시입니다.
                                    	<a href="#" data-toggle="tooltip" title="안녕! 나는 툴팁이야.">마우스를 올려보세요.</a>
                                    </p>
								</article>
								<article class="border text-center p-4 m-t-10 m-b-30">
  									<p class="txtip m-b-20">버튼에 마우스를 올려보세요.</p>
									<div class="parent">
										<button class="btn btn-success btn-ex1">버튼 입니다.</button>
									</div>
								</article>
								<article class="border text-center p-4 m-t-10 m-b-30">
									<p class="txtip m-b-20">버튼에 마우스를 올려보세요.</p>
  									<button class="btn btn-success btn-ex2">버튼 입니다.</button>
							  	</article>
                            </section>
                        </dd>
                    </dl>
                </div><!--col-xl-6-->

                <div class="col-xl-6">
					<dl class="dsconts">
						<dt>
							<article class="jfbet">
								<h3>
									<span class="hormark"></span>
									<span class="htitle">예시2</span>
								</h3>
							</article>
						</dt>
						<dd>
                            <section class="respon_w70 big_respon2">
                                <article class="border text-center p-4 m-t-20 m-b-30">
                                    <h3 class="m-b-5">툴팁 옵션입니다.</h3>
									<p class="txtip m-b-20">버튼에 마우스를 올려보세요.</p>
									<div class="flx_jfbet">
										<button class="btn btn-warning bt-op-top">Top</button>
										<button class="btn btn-success bt-op-bottom">Bottom</button>
										<button class="btn btn-danger bt-op-left">Left</button>
										<button class="btn btn-primary bt-op-right">Right</button>
									</div>
								</article>
								<article class="border text-center p-4 m-t-10 m-b-50">
                                    <h3 class="m-b-5">툴팁 옵션입니다.</h3>
									<p class="txtip m-b-20">버튼을 클릭 해보세요.</p>
									<p class="txtip m-b-15">
										<a href="#" data-toggle="tooltip_op" title="Hellow!">Tooltip Example</a>
									</p>
									<div class="flx_jfbet">
										<button type="button" class="btn btn-primary bt-op-show">보여주다</button>
										<button type="button" class="btn btn-warning bt-op-hide">숨기다</button>
										<button type="button" class="btn btn-success bt-op-toggle">토글</button>
										<button type="button" class="btn btn-danger bt-op-dis">없애다</button>
									</div>
								</article>			
                            </section>
                        </dd>
                    </dl>
                </div><!--col-xl-6--> 
            </div><!-- row -->

		</section><!-- cont_bg -->

	</div><!-- Dash_body -->
</div><!-- wrap -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>